{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

{% block feed_panel %}
<div class="span10 middle">
	<div class="rotator">
	<ul>
    <li class="show">
    <a href="dap.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_01.jpg" alt="MHN DAP" />
    </a>
    </li>
    <li>
    <a href="flexpansion.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_02.jpg" alt="Flexpansion" />
    </a>
    </li>
    <li>
    <a href="itraveltrack.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_03.jpg" alt="iTravelTrack" />
    </a>
    </li>
    <li>
    <a href="charting.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_04.jpg" alt="Charting" />
    </a>
    </li>
    <li>
    <a href="ventures.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_05.jpg" alt="Informatics Ventures" />
    </a>
    </li>
    <li>
    <a href="companymot.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_06.jpg" alt="CompanyMOT" />
    </a>
    </li>
    <li>
    <a href="medvu.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_07.jpg" alt="MedVU" />
    </a>
    </li>
    <li>
    <a href="islandgis.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_08.jpg" alt="IslandGIS" />
    </a>
    </li>
    <li>
    <a href="xsystem.html">
    <img src="{{ MEDIA_URL }}uploads/img/banner_09.jpg" alt="X-System" />
    </a>
    </li>
	</ul>
	</div><!-- end bannerdiv -->
	
</div>
{% endblock %}

{% blocktrans %}
<h2>Congratulations!</h2>
<p>
    Welcome
</p>
<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>
{% endblocktrans %}
{% endblock %}
