{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/prettyPhoto.css" media="all">
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
<script src="{{ STATIC_URL }}/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $("a.multimedia").prettyPhoto({
    	social_tools:'',
    	default_width: 640,
        default_height: 480,
    });
  });
</script>
{% endblock %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block feed_panel %}
<div class="span10 middle">
{% block main %}
{% endblock %}
</div>
{% endblock feed_panel %}
